body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.section1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpMGpHeasVcHQahMv_k4x9jVtLzsUw3rXC8umyR_EkN19lmmhJ&s);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
    height: 450px;
}
ul{
    display: inline;
    list-style-type: none;
}
li{
    display: inline;
    padding-right: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
}
#heading, #topheading{
    padding-top: 40px;
    color: white;
}
#para{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
    font-size: 18px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
 
.section2{
    background-color: rgb(230, 233, 238);
    padding-top: 10px;
    text-align: center;
    height: 450px;
}
.image{
    padding-top: 20px;
}
#caption{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
}
#head{
    font-size: 18px;
    padding-bottom: 50px;
}
p{
    font-size: 14px;
}
.section3{
    padding-top: 50px;
    text-align: center;
    height: 450px;
}
.right{
    text-align: left;
}